.container-fluid {
    gap: 50px;
}

.custom-search-width {
    width: 400px;
}

.custom-btn {
    background-color: white; /* Fondo blanco por defecto */
    color: black; /* Texto en negro por defecto */
    transition: background-color 0.3s ease; /* Transición suave */
}

.custom-btn:hover {
    background-color: grey; /* Fondo gris cuando se pasa el cursor */
    color: white; /* Texto blanco cuando se pasa el cursor */
}

.carousel-inner img {
    width: 100%;
    height: 400px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción, recortando si es necesario */
}

/* Ajustar el contenedor principal */
.grupoOfertas {
    padding: 15px; /* Reduce el padding a la mitad */
    max-width: 99%; /* Ajusta el ancho máximo al 50% */
    margin: 0 auto; /* Centra el contenedor */
}

/* Ajustar el tamaño de las imágenes */
.ofertas img {
    width: 100%;
    height: 70%;
    object-fit: fill;
    border-radius: 6px;
}

.right-images {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5px; /* Reduce el espacio entre las imágenes */
}

.right-images img {
    width: 100%;
    height: 35%; /* Ajusta la altura de las imágenes */
    object-fit: cover;
}

.imgOfertas img {
    border-radius: 6px;
}

.container2 {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr; /* La columna izquierda será más delgada */
    height: 100vh; /* Altura completa de la pantalla */
    gap: 1rem; /* Espacio entre las columnas */
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 2%;
}

.left-side {
    padding: 1rem;
}

.right-side {
    display: grid;
    grid-template-rows: repeat(3, 1fr); /* Tres filas para la zona derecha */
    gap: 1rem; /* Espacio entre las filas */
}

.row-right {
    display: flex;
    justify-content: space-between; /* Distribuir los divs uniformemente */
    align-items: center; /* Alineación vertical centrada */
}

.row-right > div {
    padding: 1rem;
    flex: 1; /* Cada div ocupará el mismo espacio */
    margin: 0 0.5rem; /* Espaciado entre los divs */
    border: 1px solid black; /* Borde negro alrededor del div */
    background-color: transparent; /* Fondo transparente */
    border-radius: 10px;
}